<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/template::head">

<meta charset="UTF-8">
<title>Insert title here</title>

</head>

<body>

<header th:replace="plantilla/template :: header"></header>





<div class="container mt-4">
	
	<table id="tablax" class="table table-hover">
 		<thead class="thead-dark">
 			<tr>
 				<th>ID</th>
 				<th>Fecha de Requerimiento</th>
 				<th>Fecha de Atencion</th>
 				<th>Persona Encargada</th>
 				<th>Novedades de Solicitud</th>
 				<th>Actividades</th>
 				<th>Conclusiones</th>
 				<th>Nombre Equipo</th>
 				<th>Serie del Equipo</th>
 				<th>Modelo del Equipo</th>
 				
 			
 				
 				
 				
 			</tr>
 	</thead>
 	<tbody>
 	
 			<tr th:each="informeequipo:${informeequipo}"> 
 			<td th:text="${informeequipo.idinformeequipo}"></td>
 			<td th:text="${informeequipo.fecharequerimiento}"></td>
 			<td th:text="${informeequipo.fechaatencion}"></td>
 			<td th:text="${informeequipo.personaencargada}"></td>
 			<td th:text="${informeequipo.novedadessolicitud}"></td>
 			<td th:text="${informeequipo.actividades}"></td>
 			<td th:text="${informeequipo.conclusiones}"></td>
 			<td th:text="${informeequipo.idequipo.nombreequipo}"></td>
 			<td th:text="${informeequipo.idequipo.serie}"></td>
 			<td th:text="${informeequipo.idequipo.modelo}"></td>
 			
 			
 			</tr>
 	
 	
 	</tbody>
 	
 	
</table>
</div>






<footer th:replace="plantilla/template :: footer">

<script type="text/javascript" th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</footer>



<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous" type="text/javascript">
        </script>
    <!-- DATATABLES -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
    </script>
    <!-- BOOTSTRAP -->
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
    </script>
    
    <script>
    $(document).ready(function () {
        $('#tablax').DataTable({
            language: {
                processing: "Tratamiento en curso...",
                search: "Buscar Informe de Equipo&nbsp;:",
                lengthMenu: "Agrupar de _MENU_ Equipo",
                info: "Mostrando del Informe _START_ al _END_ de un total de _TOTAL_ Informe",
                infoEmpty: "No existen datos.",
                infoFiltered: "(filtrado de _MAX_ elementos en total)",
                infoPostFix: "",
                loadingRecords: "Cargando...",
                zeroRecords: "No se encontraron datos con tu busqueda",
                emptyTable: "No hay datos disponibles en la tabla.",
                paginate: {
                    first: "Primero",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Ultimo"
                },
                aria: {
                    sortAscending: ": active para ordenar la columna en orden ascendente",
                    sortDescending: ": active para ordenar la columna en orden descendente"
                }
            },
            scrollY: 400,
            lengthMenu: [ [10, 25, -1], [10, 25, "All"] ],
        });
    });
</script>
</body>
</html>